<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <%- messages() %>
    
<div class="form">
    <form id="updateForm" action="/inv/edit-inventory" method="POST">
        <label for="classification">Classification:
            <%- classificationSelect %>
        </label>
        <label for="inv_make">Make:
            <input type="text" id="inv_make" name="inv_make" required value="<%= locals.inv_make %>">
        </label>
        <label for="inv_model">Model:
            <input type="text" id="inv_model" name="inv_model" required value="<%= locals.inv_model %>">
        </label>
        <label for="inv_year">Year:
            <input type="number" id="inv_year" name="inv_year" min="1900" max="2100" required value="<%= locals.inv_year %>">
        </label>
        <label for="inv_description">Description: <br>
            <textarea id="inv_description" name="inv_description" required rows="5" cols="45"><%= locals.inv_description %></textarea>
        </label>
        <label for="inv_price">Price:
            <input type="number" step="0.01" id="inv_price" name="inv_price" required value="<%= locals.inv_price %>">
        </label>
        <label for="inv_miles">Miles:
            <input type="number" id="inv_miles" name="inv_miles" required value="<%= locals.inv_miles %>">
        </label>
      
        <label for="inv_image">Image Path:
            <input type="text" id="inv_image" name="inv_image" required value="<%= locals.inv_image %>">
        </label>
        <label for="inv_thumbnail">Thumbnail Path:
            <input type="text" id="inv_thumbnail" name="inv_thumbnail" required value="<%= locals.inv_thumbnail %>">
        </label>
        <label for="inv_color">Color:
            <input type="text" id="inv_color" name="inv_color" required value="<%= locals.inv_color %>">
        </label>
        <button type="submit" name="submit" disabled>Edit Vehicle</button>
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </form>
</div>

<script src="../../js/inv-update.js"></script>